##Builds
/target/

##Minecraft
/src/main/java/net/
/src/main/java/org/
/src/main/java/Start.java
/src/main/java/argo/
/src/main/java/paulscode/
/src/main/java/com/

##Forge
/src/main/java/cpw/
/src/main/java/ibxm/
/src/main/resources/fml_at.cfg
/src/main/resources/fml_marker.cfg
/src/main/resources/fmlversion.properties
/src/main/resources/forge_at.cfg
/src/main/resources/forge_logo.png
/src/main/resources/mcp.png
/src/main/resources/mcpmod.info

##Git
/.gitignore

##Maven
pom.xml